/* Animations */
@keyframes waiting {
  0% {
    transform: scale(1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18),
      0 8px 16px rgba(0, 0, 0, 0.36),
      0 0 0 rgba(0,0,0,0),
      0 0 0 0 rgba(255, 255, 255, 0);
  }
  25% {
    transform: scale(0.6);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 rgba(0, 0, 0, 0),
      0 0 0 rgba(0,0,0,0),
      0 0 0 0 rgba(255, 255, 255, 0);
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14),
      0 3px 31px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 0 0 15vw rgba(255, 255, 255, 1);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18),
      0 8px 16px rgba(0, 0, 0, 0.36),
      0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 0 0 100vw rgba(255, 255, 255, 0);
  }
}

@keyframes loaded {
  0% {
    transform: scale(1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18),
      0 8px 16px rgba(0, 0, 0, 0.36),
      0 0 0 rgba(0, 0, 0, 0),
      0 0 0 0 rgba(255, 255, 255, 0);
  }
  100% {
    opacity: 0;
    transform: scale(0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 rgba(0, 0, 0, 0),
      0 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* Base button styles */
.firebaseui-idp-google {
  will-change: box-shadow;
  transition: 0.2s all;
}

/* Hover styles for non-touch devices */
@media not all and (pointer: coarse) {
  .firebaseui-idp-google:not(.clicked):hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
  }
}

/* State-specific styles */
.firebaseui-idp-google.clicked {
  padding: 12px;
  background: #f6f6f6;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
  filter: grayscale(100%);
  cursor: default;
}

.firebaseui-idp-google.clicked .firebaseui-idp-text {
  height: 0;
  width: 0;
  margin: 0;
  opacity: 0;
}

.firebaseui-idp-google.waiting {
  animation: waiting 2s linear infinite;
}

.firebaseui-idp-google.loaded {
  animation: loaded 0.2s linear forwards;
}

.firebaseui-idp-text {
  transition: 0.3s height, 0.3s width, 0.3s margin, 0.3s opacity;
}